.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: calc(100% - 20px);
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.score-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 6px auto;
}

.score-label {
  margin: 0 auto;
  text-align: center;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.score-divider {
  padding: 10px;
}

.score-input {
  max-width: 100px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  outline: none;
}
.score-input:focus {
  outline: none;
}

.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.score-input[type="number"] {
  -moz-appearance: textfield;
}

.time,
.refresh-control {
  font-size: small;
  font-weight: lighter;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-style: italic;
}

.clock {
  margin-right: 4px;
}

.refresh-control {
  margin-bottom: 18px;
  display: inline-block;
}

.kc {
  color: #ffb81c;
  background-color: #e31837;
}

.tb {
  color: #34302b;
  background-color: #ff7900;
}

.grid-container {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(11, [col-start] 1fr);
  grid-template-rows: repeat(11, [row-start] 1fr);
}

.button {
  min-width: 68px;
  min-height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid black;
}

.button:focus {
  outline: none;
}
