.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  min-height: calc(100% - 20px);
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.score-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 6px auto;
}

.score-label {
  margin: 0 auto;
  text-align: center;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.score-divider {
  padding: 10px;
}

.score-input {
  max-width: 100px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  outline: none;
}
.score-input:focus {
  outline: none;
}

.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.score-input[type="number"] {
  -moz-appearance: textfield;
}

.time,
.refresh-control {
  font-size: small;
  font-weight: lighter;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-style: italic;
}

.clock {
  margin-right: 4px;
}

.refresh-control {
  margin-bottom: 18px;
  display: inline-block;
}

.away {
  color: #ffb81c;
  background-color: #e31837;
}

.home {
  color: #34302b;
  background-color: #ff7900;
}

.bal {
  background-color: #241773;
  color: #000000;
}

.cin {
  background-color: #fb4f14;
  color: #000000;
}

.cle {
  background-color: #311d00;
  color: #ff3c00;
}

.pit {
  background-color: #ffb612;
  color: #101820;
}

.buf {
  background-color: #00338d;
  color: #c60c30;
}

.mia {
  background-color: #008e97;
  color: #fc4c02;
}

.ne {
  background-color: #002244;
  color: #c60c30;
}

.nyj {
  background-color: #125740;
  color: #000000;
}

.hou {
  background-color: #03202f;
  color: #a71930;
}

.ind {
  background-color: #002c5f;
  color: #a2aaad;
}

.jax {
  background-color: #101820;
  color: #d7a22a;
}

.ten {
  background-color: #0c2340;
  color: #4b92db;
}

.den {
  background-color: #fb4f14;
  color: #002244;
}

.kc {
  background-color: #e31837;
  color: #ffb81c;
}

.lv {
  background-color: #000000;
  color: #a5acaf;
}

.lac {
  background-color: #0080c6;
  color: #ffc20e;
}

.chi {
  background-color: #0b162a;
  color: #c83803;
}

.det {
  background-color: #0076b6;
  color: #b0b7bc;
}

.gb {
  background-color: #203731;
  color: #ffb612;
}

.min {
  background-color: #4f2683;
  color: #ffc62f;
}

.dal {
  background-color: #003594;
  color: #041e42;
}

.nyg {
  background-color: #0b2265;
  color: #a71930;
}

.phi {
  background-color: #004c54;
  color: #a5acaf;
}

.wsh {
  background-color: #773141;
  color: #ffb612;
}

.atl {
  background-color: #a71930;
  color: #000000;
}

.car {
  background-color: #0085ca;
  color: #101820;
}

.no {
  background-color: #d3bc8d;
  color: #101820;
}

.tb {
  background-color: #d50a0a;
  color: #ff7900;
}

.ari {
  background-color: #97233f;
  color: #000000;
}

.lar {
  background-color: #003594;
  color: #ffa300;
}

.sf {
  background-color: #aa0000;
  color: #b3995d;
}

.sea {
  background-color: #002244;
  color: #69be28;
}

.grid-container {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(11, [col-start] 1fr);
  grid-template-rows: repeat(11, [row-start] 1fr);
}

.button {
  min-width: 68px;
  min-height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid black;
}

.button:focus {
  outline: none;
}
