.legend-corner {
  position: relative;
  background: #111827;
  color: #ffffff;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  border: 1px solid #374151;
  margin: -1px 0 0 -1px;
  aspect-ratio: 1;
}

.x {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate {
  transform-origin: center;
  transform: rotate(-90deg);
}

.y {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
