.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  background: #111827;
  color: #ffffff;
  margin: -1px 0 0 -1px;
  border: 1px solid #374151;
  aspect-ratio: 1;
}
